{% extends 'index.html' %}
{% block title %}DataBase{% endblock %}
{% block content %}

    <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-4" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/ai.jpg"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
    
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">About This Application</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This application predicts corresponding flair for a given post of subreddit India.</p>
                        <!-- Button -->
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row" style="margin-bottom: 1rem;">
            <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
        </div>
    </div>

{% endblock %}    