{% extends 'index.html' %}
{% block title %}Data Analysis{% endblock %}
{% block content %}

    <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/donut.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Distribution of data under various Flairs.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>Distribution of data under various flairs is shown in this donut.</p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/tweet and hours cleear.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Relation Between Posts and their creation time.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>Relation between posts and hours of post: It is found that posts were maximum at 1300 and 1400 hours. Which states that this is the best time to advertise on reddit as a greater number of online users mean a greater number of views.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/bot detected clear.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Users who post the most on Reddit.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>From this visualization we can infer that number of posts “AutoModerator” created were more than 2 times posts created by user “hipporama” which looks quite suspicious. On analyzing his posts, it can be concluded that this is a bot.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/bot.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Suspicious activity of Bot.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This Bot post same content, the same content can be found in all the flairs of Reddit as inferred from above visualization.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/variationin offensive posts.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Variation in Offensive Post with years.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>It is found that the number of offensive words in 2020 were maximum.</p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/forums and offensive tweets clear check.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Relation between Forums and Offensive Posts in them.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>It was found that the number of offensive words used in “Politics” sub-forum were most as compared to other subforums. And offensive words used in “Science/Technology” were least.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/offcloud2020.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Targeted themes under Offensive Posts.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>From “Word Cloud” we can infer that the target of these offensive posts were “Religion”, “Time”, “Government”, “Lockdown” and “Coronavirus”.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/offposts vs neither 2020.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Distribution Of offensive Posts in 2020.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br></p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/nooffensive2019.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Distribution Of offensive Posts in 2019.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>In 2019 offensive posts were relatively low as compared to 2020 as concluded from visualization.</p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/happy and sad discussions.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Sentiment analysis in different Flairs.</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>It is found that sentiment scores which tells that sentence is positive or negative were least for Coronavirus Flair due to irreparable destruction and havoc it has created. People were depressed and sad while posting posts in this flair. While in photography people were happier the most as compared to other Flairs. </p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
 
        <div class="row" style="margin-bottom: 1rem;">
            <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
        </div>
    </div>

{% endblock %}    