{% extends 'index.html' %}
{% block title %}DataBase{% endblock %}
{% block content %}

    <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/askreddit.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under AskIndia</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>AskIndia consists of a mixed topics discussed in r/India subreddit. From above Word Cloud trending topics like "Coronavirus", "Lockdown", "Religion"</p>
                        <!-- Button -->
                    </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/business.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Business/Finance</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>Business/Finance consists of topics "Business", "Companies", "Fund", "Bank", "Investment" and "Tax" as evident from above word Cloud.</p>
                        <!-- Button -->
                    </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/covid.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Coronavirus</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of topics "Coronavirus", "Lockdown", "Health" and "Crisis" as evident from above word Cloud.</p>
                        <!-- Button -->
                        
                    </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/economy.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Policy/Economy</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of topics "Economics", "Government", "Policies", "Bank" and "Inflation" as evident from above word Cloud.</p>
                        <!-- Button -->
                        
                    </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/food.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Food</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes like "Food", "Restaurant", "Poor", "Stock" and "Covid" as evident from above word Cloud.</p>
                        <!-- Button -->
                    </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/nonpolitical.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Non-Political</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes which are related with "Non-Political" issues as evident from above word Cloud.</p>
                        <!-- Button -->
                    </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/photography.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Photography</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes like "Photography", "Imgur", "Camera" and "Weekly Photography" as evident from above word Cloud.</p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/politics.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Politics</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes like "Bjp", "Congress", "Aap", "Hindu", "Muslim" and "Violence" as evident from above word Cloud.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/scheduled.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Scheduled</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes like "Scheduled" as evident from above word Cloud.</p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/science.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Science</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes like "Science", "Research", "Education", "Technology", "Student" and "Scientist" as evident from above word Cloud.</p>
                        <!-- Button -->
                        
                        </li>
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/sports.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                        <li class="list-group-item" style="text-align: center;margin: 0 auto;" >
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">Themes Under Sports</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>This discussion head in Reddit consists of themes like "Sports", "Football", "Cricket" and "Money" as evident from above word Cloud.</p>
                        <!-- Button -->
                        </li>
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>

        <div class="row" style="margin-bottom: 1rem;">
            <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
        </div>
    </div>

{% endblock %}    